<nav class="navbar bg-warning navbar-expand-lg">
    <a class="navbar-brand mx-4" href="#">Movie Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-bold">
        <li class="nav-item active">
          <a class="nav-link fw-bold pointer" routerLink="movies">Movies </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold pointer" routerLink="add-movie">Add Movie</a>
        </li>
      </ul>
    </div>
  </nav>
  